<body style="margin:0;">
<div style="width: 100%; height: 50px; background: orange; text-align: center; padding-top: 10px;">
  <strong>SLR_portfolio</strong>
</div>

  <div style="margin: 0; width: 100vw; height: 720px; overflow: hidden;">
    <img src="/SLR_portfolio/assets/images/radhakrishna.jpg" style="width: 100vh; height: auto;"
     alt="Cover" layout="fixed-height" media="(min-width: 416px)">

  </div>


<nav class="pagination" role="navigation">


  <div style="height:300px; background: white; padding-bottom: 30px; margin-bottom: 20px;">
    <table style="width: 100%; height: 300px;">
      <tr style="width: 800px; margin: 0;">
        <td style="display: inline-block; width: 30%; height: 100%; margin: 0; padding-top: 100px; text-align: center; vertical-align: middle;">
            <h1>About Me</h1>
        </td>
        <td style="display: inline-block; width: 50%;">
          <div>
            <div style="height: 300px; text-align: left; padding-top: 20px; overflow: hidden;">
              <h2>멈추지 않는 개발자</h2>
              어릴때 부터 호기심이 많은 성격에 만들어 보았던 간단한 계산기 프로그램으로 무언가를 만드는 것의 재미를 느끼게 되었고 그때부터 개발자를 꿈꾸게 되었습니다.
              그래서 대학교도 컴퓨터공학과를 가게 되었고 자연스럽게 많은것을 개발하게 될 수 있었습니다.
              그 중 Javascript가 가지고 있는 가능성과 다양성에 매력을 느끼게 되어 웹 어플리케이션 개발자가 되기 위해 많은 노력을 하고 있습니다.

              저는 제 목표를 '잘하는' 개발자로 삼아서 더 공부하고 있습니다.
              경력을 쌓은 개발자는 경력만 쌓이면 자연스럽게 되지만 '잘하는'개발자는 경력뿐만 아니라 매일 공부하여 개발자로써 더 높은 곳을 바라보고 있기 때문입니다 . 저는 계속 공부하여
              '잘하는'개발자로써 남고 싶습니다.
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div style="text-align: center; background: rgb(243, 243, 243); padding: 20px 0;">
    <h1 style="text-decoration: underline;">My Skils</h1>
    <div style="margin-bottom: 30px;">
      <h3 style="margin: 0; color: rgb(190, 190, 190);">Language</h3>
      <h2 style="margin: 0;">C#, JAVA, TypeScript, JavaScript</h2>
    </div>
    <div style="margin-bottom: 30px;">
      <h3 style="margin: 0; color: rgb(190, 190, 190);">Web Skils</h3>
      <h2 style="margin: 0;">HTML, CSS, Jquery</h2>
    </div>
    <div style="margin-bottom: 30px;">
      <h3 style="margin: 0; color: rgb(190, 190, 190);">FrameWork</h3>
      <h2 style="margin: 0;">Spring, Angular 6, Unity</h2>
    </div>
  </div>

  <div style="background: rgb(255, 229, 229); text-align: center; padding-bottom: 40px;">
    <h1 style="padding-top:20px; text-decoration: underline; margin-top: 0;">Project</h1><br>
    <table style="margin: 0 0 30px 10%; background: white; width: 1200px;  box-shadow: 5px 5px 10px 5px gray;">
      <tr style="width: 800px; margin: 0;">
        <td style="display: inline-block; width: 30%; height: 100%; margin: 0; ">
          <div style="border: 1px solidx black;">
            <div style="height: 300px;">

            </div>
          </div>
        </td>
        <td style="display: inline-block; width: 50%;">
          <div>
            <div style="height: 300px; text-align: left; padding-top: 20px;">

              <h2>Share_B</h2>
              <h3>개발기간 :2020.02.14~ 2020.3.29<br>
                Trello, Jira 처럼 프로젝트를 체계적으로 수행에 도움을 주는 칸반보드 사이트이다.<br></h3>
              <br>
              #Angular #Spring Framework #OraclDB #MyBatis <br>
            </div>
          </div>
        </td>
      </tr>
    </table>

    <table style="margin-left: 10%; width: 1200px; background: white; box-shadow: 5px 5px 10px 5px gray;">
      <tr style="width: 800px; margin: 0;">
        <td style="display: inline-block; width: 30%; height: 100%; margin: 0; ">
          <div>
            <div style="height: 300px; ">

            </div>
          </div>
        </td>
        <td style="display: inline-block; width: 50%;">
          <div>
            <div style="height: 300px; text-align: left; padding-top: 20px;">

              <h2>1 to 50 게임 어플</h2>
              <h3>개발기간 :2019.09.14~ 2019.10.29<br>
                Trello, Jira 처럼 프로젝트를 체계적으로 수행에 도움을 주는 칸반보드 사이트이다.<br></h3>
              <br>
              #Unity #C# <br>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</nav>

<footer class="ampstart-footer flex flex-column items-center px3">
  <ul class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">
      {% if site.twitter %}

      <li>
          <a href="https://twitter.com/{{site.twitter}}" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Twitter">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22.2" viewbox="0 0 53 49">
                  <title>Twitter</title>
                  <path d="M45 6.9c-1.6 1-3.3 1.6-5.2 2-1.5-1.6-3.6-2.6-5.9-2.6-4.5 0-8.2 3.7-8.2 8.3 0 .6.1 1.3.2 1.9-6.8-.4-12.8-3.7-16.8-8.7C8.4 9 8 10.5 8 12c0 2.8 1.4 5.4 3.6 6.9-1.3-.1-2.6-.5-3.7-1.1v.1c0 4 2.8 7.4 6.6 8.1-.7.2-1.5.3-2.2.3-.5 0-1 0-1.5-.1 1 3.3 4 5.7 7.6 5.7-2.8 2.2-6.3 3.6-10.2 3.6-.6 0-1.3-.1-1.9-.1 3.6 2.3 7.9 3.7 12.5 3.7 15.1 0 23.3-12.6 23.3-23.6 0-.3 0-.7-.1-1 1.6-1.2 3-2.7 4.1-4.3-1.4.6-3 1.1-4.7 1.3 1.7-1 3-2.7 3.6-4.6" class="ampstart-icon ampstart-icon-twitter"></path>
              </svg>
          </a>
      </li>
      {% endif %} {% if site.facebook %}

      <li>
          <a href="https://facebook.com/{{site.facebook}}" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Facebook">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23.6" viewbox="0 0 56 55">
                  <title>Facebook</title>
                  <path d="M47.5 43c0 1.2-.9 2.1-2.1 2.1h-10V30h5.1l.8-5.9h-5.9v-3.7c0-1.7.5-2.9 3-2.9h3.1v-5.3c-.6 0-2.4-.2-4.6-.2-4.5 0-7.5 2.7-7.5 7.8v4.3h-5.1V30h5.1v15.1H10.7c-1.2 0-2.2-.9-2.2-2.1V8.3c0-1.2 1-2.2 2.2-2.2h34.7c1.2 0 2.1 1 2.1 2.2V43" class="ampstart-icon ampstart-icon-fb"></path>
              </svg>
          </a>
      </li>
      {% endif %} {% if site.github %}

      <li>
          <a href="https://github.com/{{site.github}}" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML github">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 64 64">
                  <path d="M22.4 1.4C-.8 9-7.4 38.4 10.5 54.9 14.7 58.8 20.4 62 23 62c.5 0 1-1.6 1-3.5 0-3.3-.2-3.5-3.5-3.5-3.5 0-4.2-.5-9-6.6-4.4-5.6-2.3-6.2 3.2-.9 4.2 4 7.5 4.5 9.8 1.2 1.4-2.1 1.4-2.2-.7-3-6-2.3-8.8-4.2-10.2-7.2-2.1-4.3-2.1-12.4 0-15.3.8-1.2 1.2-2.7.9-3.2-1-1.6.5-7 1.8-7 .7 0 2.4.6 3.8 1.4 1.7.9 6 1.4 11.9 1.4s10.2-.5 11.9-1.4c1.4-.8 3.1-1.4 3.8-1.4 1.3 0 2.8 5.4 1.8 7-.3.5.1 2 .9 3.2 1.8 2.5 2.1 10.3.7 14.1-1.4 3.6-5 6.6-9.3 7.8-3.3.9-3.7 1.2-2.8 2.9.5 1 1 4.6 1 7.9 0 3.5.4 6.1 1 6.1 5.2 0 15.8-8.8 19.8-16.5 2.3-4.3 2.7-6.3 2.7-13.5 0-7-.4-9.4-2.4-13.5C57.9 12.2 51.8 6 45.6 3 39.6.2 28.5-.6 22.4 1.4z" class="ampstart-icon ampstart-icon-github" />
              </svg>
          </a>
      </li>
      {% endif %}

  </ul>
  <h1 style="padding-top:20px; text-decoration: underline; margin-top: 0;">Contact</h1>
    <a href="https://dlfna1111.github.io/SLR_portfolio">신이룸</a>
    tdf5335@naver.com<br>
    010-5768-2494
</footer>





</body>